<!DOCTYPE html>
<!-- saved from url=(0035)http://demoall.dedecms58.com/42935/ -->
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="Description"
        content="山东一是一木业有限公司组建于1998年，经过多年的磨练，克服了种种困难，打造出先进的管理流程、造就了一批精干的管理队伍、培养了一批技能精湛员工，引进先进的生产设备，建有细木工板车间、生态板车间。">
    <meta name="Keywords" content="山东生态板厂家|细木工板|山东实木贴面板厂家|山东一是一木业">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>一是一木业</title>
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc,wap">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <link type="image/x-icon" href="/jk-web/img/logo.png" rel="shortcut icon external nofollow" />

    <link rel="stylesheet" href="/jk-web/css/index.css">

    <!-- TAB标签 -->
    <script type="text/javascript" src="/jk-web/css/swipertab/swiper-3.4.0.jquery.min.js"></script>
    <link rel="stylesheet" href="/jk-web/css/swipertab/swiper-3.2.7.min.css" />

    <script src="/jk-web/js/jquery-1.11.0.min.js"></script>
    <script src="/jk-web/css/bootstrap/js/bootstrap.min.js"></script>
    <!-- 图片动画 -->
    <script src="/jk-web/css/aos/aos.js"></script>
    <!-- 轮播图 -->
    <script src="/jk-web/css/owl/owl.carousel.min.js"></script>
    <!-- 手机模式下菜单 -->
    <script src="/jk-web/js/app.js"></script>
    <script src="/jk-web/js/materialize.js"></script>
    <script src="/jk-web/js/jquery.waypoints.min.js"></script>
    <script src="/jk-web/js/countUp.js"></script>

    <script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=TdWoDPwuvntGbqMCw5wUPOnYB3FVktRk"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- uni 的 SDK，必须引用.-->
    <script type="text/javascript" src="https://js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.1.5.2.js"></script>

    <script text="text/javascript">


        /**************************************打开页面************************************/
        function openPage(url) {
            window.location.replace(url);
        }

        /**************************************时间格式化处理************************************/
        function dateFormat(fmt, date) { //author: meizz   
            var o = {
                "M+": date.getMonth() + 1,                 //月份   
                "d+": date.getDate(),                    //日   
                "h+": date.getHours(),                   //小时   
                "m+": date.getMinutes(),                 //分   
                "s+": date.getSeconds(),                 //秒   
                "q+": Math.floor((date.getMonth() + 3) / 3), //季度   
                "S": date.getMilliseconds()             //毫秒   
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</head>

<body>

    <div class="nav-bar clearfix">
        <div class="nav-mobile-toggle"> <i class="fa fa-bars"></i> </div>
        <div class="nav-logo">
            <div class="pc_logo">
                <a href="http://ysy.umutou.com">
                    <img alt="山东一是一木业有限公司" class="logo logo-light" src="<%=$root%>img/logo.png">
                </a>
            </div>
            <div class="wap_logo">
                <a href="http://ysy.umutou.com">
                    <img src="<%=$root%>img/logo@2x.png">
                </a>
            </div>
        </div>
        <div class="nav-menu">
            <ul class="menu clearfix">
                <li><a href="home">网站首页</a></li>

                <li><a href="about">公司简介</a></li>

                <li><a href="product">产品中心</a></li>

                <li><a href="news">新闻动态</a></li>

                <li><a href="honor">荣誉资质</a></li>

                <li><a href="contact">联系我们</a></li>
            </ul>
        </div>

        <div
            style="margin-right: 3rem; float: right; width: 25rem; text-align: center; color: white;   font-size:1.8rem;  font-weight: 900; text-shadow:black 5px 6px 7px">
            热线电话：136-6530-9999
        </div>

    </div>