<style>
    .content img {
        height: 140px;
        width: 200px;
    }
    .content dl {
        width: 460px;
        text-align: center;
        margin-bottom: 20px;
    }
    .content h5 {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }
</style>
<div class="content">
    <div class="welcome">
        <h6>欢迎光临! 当前位置：<a href="<%=$root%>">首页</a> > 转换区域</h6>
    </div>
    <h4 class="mt-3 mb-5" style="text-align: center;">
        请选择一个国家或地区
    </h4>
    <div>
        <div class="d-flex" style="flex-wrap: wrap; ">
            <dl>
                <dt>
                    <img src="https://www.jkchemical.com/image/zh.jpg" alt="">
                </dt>
                <dd>
                    <h5>中国(内地)</h5>
                    <p>China（Mainland）</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="https://www.jkchemical.com/image/hk.jpg" alt="">
                </dt>
                <dd>
                    <h5>中国（香港）</h5>
                    <p>China（Hong Kong）</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="https://www.jkchemical.com/image/tw.jpg" alt="">
                </dt>
                <dd>
                    <h5>中国（香港）</h5>
                    <p>China（Taiwan）</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="https://www.jkchemical.com/image/us.jpg" alt="">
                </dt>
                <dd>
                    <h5>美国</h5>
                    <p>China（Hong Kong）</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="https://www.jkchemical.com/image/eu.jpg" alt="">
                </dt>
                <dd>
                    <h5>欧洲</h5>
                    <p>Europe</p>
                </dd>
            </dl>
        </div>
    </div>
</div>