/* 整页面  开始 */


/* 此样式在 bootstrap.css 设置*/

.about .about .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 767px) {
    .about .about .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .about .about .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .about .about .container {
        width: 95%;
    }
}
/*整页面  结束 */


/* 内容标题  开始 */

.about .about .title {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.about .about .title h3 {
    font-size: 4rem;
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    color: #8a8a8a;
}
 
/* 段落样式 开始 */

.about .about .paragraph {
    width: 90%;
}
.about .about .paragraph p {
    /* font       : 100%/1.6 Verdana, Geneva, Arial, Helvetica, sans-serif; */
    font-family: 微软雅黑, 'Microsoft YaHei';
    color: #8a8a8a;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 14px;
    white-space: normal;
    text-indent: 2em;
}

.about .about .paragraph .title {
    text-align: center; width: 100%; padding: 4rem;font-weight: 600; color: #8a8a8a; font-size: 4rem;
}

 

/* 段落样式 结束 */

@media (max-width: 767px) {
    .about .about .lead {
        font-size: 14px;
    }
    .about .about .title {
        margin-bottom: 20px;
    }
    .about .about .title h3 {
        font-size: 2rem;
    }
    .about .about .paragraph {
        width: 100%;
    }
    .about .about .paragraph .title {
        padding: 1rem; font-size: 2rem;
    }
}
 
/* 生产实力 */
 
.about .about .minimage {
    width: 25%;
    float: left;
    padding: 1px;
}
.about .about .minimage img {
    width: 100%;
    height: 100%;
}


@media (max-width: 767px) {
 
    .about .about .minimage {
        width: 48.6%;
        float: left;
        padding: 1px;
    }
}